{{>jumbotron}}
<script>
   window.studentRef = "{{session.studentRef}}";
   window.studentId = parseInt("{{session.studentId}}");
</script>
<div class="row">
   <!-- TODO: Transform repetitve code below into an EACH -->
   <div class="col">
      <div class="card mb-4 shadow-lg bg-gradient lighter-95">
         <div class="card-body text-center pt-2 pb-0">
            <h3>Professors</h3>
         </div>
      </div>
   </div>
</div>

{{#if professors}}
<div class="row">
  {{#each professors}}
   <div class="col-sm-12 col-md-4">
      <div class="card mb-4">
         <div class="card-body text-center">
            <img src="/assets/{{gender}}_prof.png" width="100" height="100" class="d-inline-block align-top mb-1" alt="Prof Name">
            <h5 class="card-title">{{this.profName}}</h5>
            <h6 class="card-text">{{this.profCourse}}</h6>
            <p class="card-text">
            {{#ifCond college "COB"}}
              College of Business
              {{/ifCond}}{{#ifCond college "CLA"}}
              College of Liberal Arts
              {{/ifCond}}{{#ifCond college "COE"}}
              College of Engineering
              {{/ifCond}}{{#ifCond college "COS"}}
              College of Science
              {{/ifCond}}{{#ifCond college "CCS"}}
              College of Computer Studies
              {{/ifCond}}{{#ifCond college "CED"}}
              College of Education
              {{/ifCond}}{{#ifCond college "SOE"}}
              School of Economics
              {{/ifCond}}</p>
            </p>
            <a href="/professors/{{this.profNumber}}" class="card-link">View profile</a>
         </div>
      </div>
   </div>
  {{/each}}
  </div>
{{else}}
  <p>No results for professors</p>
{{/if}}

<div class="row">
   <!-- TODO: Transform repetitve code below into an EACH -->
   <div class="col">
      <div class="card mb-4 shadow-lg bg-gradient lighter-95">
         <div class="card-body text-center pt-2 pb-0">
            <h3>Colleges</h3>
         </div>
      </div>
   </div>
</div>

{{#if colleges}}
  <div class="row">
    {{#each colleges}}
      <div class="col-sm-12 col-md-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{this.logo}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{this.longName}}">
            <h5 class="card-title">{{this.longName}}</h5>
            <a href="/colleges/{{this.shortName}}" class="card-link">View {{this.shortName}} page</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No results for colleges</p>
{{/if}}