<div class="jumbotron shadow bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url('{{jumbotronImage}}')">
	<h1 class="display-4">{{jumbotronHeader}}</h1>
    <p class="lead">{{jumbotronMessage}}</p>

    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{jumbotronLink}}" role="button">{{jumbotronBtn}}</a>
    </p>
</div>