{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">
	<div class="col-sm-12 col-md-8">
    	<div class="card mb-4">
    		<div class="card-header bg-gradient font-weight-bold">
    			RN: {{review._id}}
  			</div>
	      	<div class="card-body border-bottom">
	      		<blockquote class="blockquote">
					<p class="mb-0">{{review.reviewContent}}</p>
					<footer class="blockquote-footer">Submitted by <cite title="Source Title">{{review.studentRef.studentName}}</cite></footer>
				</blockquote>
	    	</div>
	    	<!--
	    	<div class="card-body commentPane">
				<p class="mb-0">{{review.reviewContent}}</p>
				<p>Submitted by <cite title="Source Title">{{studentRef.studentName}}</cite></p>
	    	</div>
	    	-->
		</div>
    </div>

    <div class="col-sm-12 col-md-4">
    	<div class="card mb-4">
    		<div class="card-header bg-gradient font-weight-bold">
    			Post a Comment
  			</div>
	      	<div class="card-body">
		      	<form>
		        	<div class="form-group row">
			            <label for="quickProf" class="col-sm-4 col-form-label">Professor</label>
			            <select class="custom-select col-sm-7" disabled id="quickProf">
			              <option selected>{{review.profRef.profName}}</option>
			        	</select>
			        </div>
			        <div class="form-group row">
			            <label for="quickProf" class="col-sm-4 col-form-label">RN</label>
			            <select class="custom-select col-sm-7" disabled id="quickProf">
			              <option selected>{{review._id}}</option>
			        	</select>
			        </div>
		          	<div class="form-group row">
			            <label for="quickRev" class="col-sm-4 col-form-label">Comment</label>
			            <textarea id = "commentcont" class="form-control col-sm-7" id="exampleFormControlTextarea1" rows="3"></textarea>
			        </div>
			        <div class="text-center">
			            <button type="submit" id = "commentBtn" class="btn btn-primary mt-0 mb-2">Post Comment</button>
			        </div>
		    	</form>
	    	</div>
		</div>
	</div>
</div>