<div class="row">
  <!-- TODO: Transform repetitve code below into an EACH -->
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{p1Image}}" width="100" height="100" class="d-inline-block align-top mb-1" alt="{{p1Name}}">
        <h5 class="card-title">{{p1Name}}</h5>
        <p class="card-text">{{p1Desc}}</p>
        <a href="{{p1Link}}" class="card-link">View profile</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{p2Image}}" width="100" height="100" class="d-inline-block align-top mb-1" alt="{{p2Name}}">
        <h5 class="card-title">{{p2Name}}</h5>
        <p class="card-text">{{p2Desc}}</p>
        <a href="{{p2Link}}" class="card-link">View profile</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{p3Image}}" width="100" height="100" class="d-inline-block align-top mb-1" alt="{{p3Name}}">
        <h5 class="card-title">{{p3Name}}</h5>
        <p class="card-text">{{p3Desc}}</p>
        <a href="{{p3Link}}" class="card-link">View Profile</a>
      </div>
    </div>
  </div>

</div>
