{{>jumbotron}}

<div class="row">
  <!-- TODO: Transform repetitve code below into an EACH -->
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c1Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c1Name}}">
        <h5 class="card-title">{{c1Name}}</h5>
        <a href="{{c1Link}}" class="card-link">{{c1Caption}}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c2Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c2Name}}">
        <h5 class="card-title">{{c2Name}}</h5>
        <a href="{{c2Link}}" class="card-link">{{c2Caption}}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c3Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c3Name}}">
        <h5 class="card-title">{{c3Name}}</h5>
        <a href="{{c3Link}}" class="card-link">{{c3Caption}}</a>
      </div>
    </div>
  </div>


</div>

<div class="row">
  <!-- TODO: Transform repetitve code below into an EACH -->
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c4Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c4Name}}">
        <h5 class="card-title">{{c4Name}}</h5>
        <a href="{{c4Link}}" class="card-link">{{c4Caption}}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c5Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c5Name}}">
        <h5 class="card-title">{{c5Name}}</h5>
        <a href="{{c5Link}}" class="card-link">{{c5Caption}}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c6Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c6Name}}">
        <h5 class="card-title">{{c6Name}}</h5>
        <a href="{{c6Link}}" class="card-link">{{c6Caption}}</a>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <!-- TODO: Transform repetitve code below into an EACH -->
  <div class="col-sm-12 col-md-4">
    <div class="card mb-4">
      <div class="card-body text-center">
        <img src="{{c7Image}}" width="100" height="100" class="rounded-10 d-inline-block align-top mb-1" alt="{{c7Name}}">
        <h5 class="card-title">{{c7Name}}</h5>
        <a href="{{c7Link}}" class="card-link">{{c7Caption}}</a>
      </div>
    </div>
  </div>

</div>
