{{>jumbotron}}

<div class="row mt-sm-4 mt-md-0">

  <div class="col-sm-12 col-md-8">
    <h3>Professor Information</h3>
    <table class="table table-hover table-light mb-5">
    <thead class="thead-green">
      <tr class="text-center">
        <th scope="col">Name</th>
        <th scope="col">College</th>
        <th scope="col">Course</th>
        <th scope="col">No. of Reviews</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each professor}}
        <tr class="text-center">
          <td>{{this.profName}}</td>
          <td>{{this.college}}</td>
          <td>{{this.profCourse}}</td>
          <td>{{this.count}}</td>
          <td><a class="btn btn-primary btn-sm text-white" href="/professors/{{this.profNumber}}">Go to Profile</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>

  <div class="col-sm-12 col-md-4">
    <h3 class="text-center" id="addCollege">Add Professor</h3>
    <div class="card mb-4">
      <div class="card-body">
        <div class="text-center">
          <img src="/assets/logo_box_green.jpg" width="100" class="rounded-10 d-inline-block align-top mt-2 mb-3" alt="DLSU Community Forum">
        </div>

        <form>
          <div class="form-group row">
            <label for="addFullName" class="col-sm-5 col-form-label">Full Name</label>
            <input type="text" name="fullName" class="form-control col-sm-6" placeholder="Juan Dela Cruz" required></input>
          </div>
          <div class="form-group row">
            <label for="addCollege" class="col-sm-5 col-form-label">College</label>
            <input type="text" name="college" class="form-control col-sm-6" placeholder="CCS" required></input>
          </div>
          <div class="form-group row">
            <label for="addCourse" class="col-sm-5 col-form-label">Course</label>
            <input type="text" name="course" class="form-control col-sm-6" placeholder="One Only" required></input>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-0 mb-2">Add Professor</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
